<head>
    <title>Ghost Story</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='img/monster_icon.png') }}" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">

    <!-- Assets -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- CSS main -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

<body>
    <!--  Header -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://twitter.com/TheGhostRadio" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/Theghostradiothailand/" class="facebook" target="_blank"><i
                        class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/theghostradioofficial/" class="instagram" target="_blank"><i
                        class="bi bi-instagram"></i></a>

            </div>
        </div>
    </section>

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="{{ url_for('index')}}" class="logo d-flex align-items-center">
                <h1>Ghost Story<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="#main-top">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ current_user.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('profile') }}">Profile</a></li>
                            <li><a href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
                            <li><a href="{{ url_for('history') }}">History</a></li>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}"><span>Login</span></a></li>
                    {% endif %}
                </ul>
            </nav>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        </div>
    </header>
    <main id="main">
        <div class="product-container row gy-4">
            <section class="pic-section">
                <img src="{{ url_for('static', filename='img/Story/str5.png') }}">
            </section>
            <div class="product-detail">
                <h2>ตำนาน ผีกระสือ</h2>
                <ul class="product-features">
                    <li class="bi">เรื่องของผีกระสือที่สามารถคุยกันได้ในหมู่บ้านของชาวไร่ที่อยู่ห่างไกลจากเมืองใหญ่อันวุ่นวาย ในหมู่บ้านนี้มีเสียงรบกวนแปลก ๆ ที่คนในหมู่บ้านได้ยินกันมาเป็นเวลาหลายเดือน มีคนพบว่าสัตว์ที่ถูกสังเวยในคืนวันจันทร์แสนสงบนั้นต้องการตายหลายตัว และสัตว์ที่รอดชีวิตก็มีรอยบาดเจ็บต่าง ๆ อย่างประหลาดที่ไม่สามารถอธิบายได้ ในทำนองเดียวกันกับคนในหมู่บ้านที่รายงานว่ามีความผิดปกติเกิดขึ้นกับพวกเขาในคืนวันจันทร์ด้วย มีคนหายไปโดยลึกลับ มีผู้คนรายงานว่าพวกเขาเห็นมังกรบินผ่านฟ้าในตอนกลางคืน และเสียงกรีดร้องที่ไม่ค่อยปกติซึ่งเกิดขึ้นในที่สูงสุดของฟ้า คนในหมู่บ้านเริ่มรู้สึกว่ามีสิ่งผิดปกติกำลังเกิดขึ้น และการระบาดของความกลัวก็ได้รับการสะท้อนในเรื่องราวของชาวบ้านที่ร้องเรียนถึงเหตุการณ์ลึกลับเหล่านี้

                        ในที่สุด มีหนึ่งคนชาวบ้านที่มีความกล้าและอุปการะผจญภัยที่อยากทราบความลึกลับของสิ่งเหล่านี้มากกว่าใคร ชื่อของเขาคือ แม็ค คาร์เตอร์ ผู้ที่เคยเป็นนักล่าและนักสำรวจธรรมชาติ แม็คตัดสินใจที่จะลุกขึ้นและสำรวจอันดับของผีกระสือที่เขาเชื่อว่าเป็นต้นเหตุของความเห็นและเสียงแปลก ๆ ที่เกิดขึ้นในหมู่บ้าน
                        
                        แม็คเตรียมตัวด้วยการสะท้อนกลับไปทางดงและป่าที่เขาเชื่อว่าเป็นที่อาศัยของผีกระสือ มันเป็นการผจญภัยที่อันตรายและน่าตื่นเต้น เขาต้องเผชิญกับความมืดและความลึกลับของป่าที่มืดมิดในทุ่งหญ้า ท้ายที่สุดเขาพบเจอกับผีกระสือตัวเล็ก ๆ ที่ร่างกายดำเหมือนมนุษย์ แต่มีสมองและหัวขาดมือ และมีดาบที่แหลมคมแห่งสิ่งนี้ยังได้สร้างความหวาดกลัวและความเกรี้ยวกราดให้แก่แม็คด้วย
                        
                        แม็คประหลาดใจต้องต่อสู้กับสิ่งนี้ เขาใช้ความกล้าหาญและความฉลาดของเขาเพื่อเอาชนะผีกระสือ และใช้ดาบของตนในการทำลายสิ่งนี้อย่างสิ้นเชิง เมื่อผีกระสือตัวนี้ถูกทำลายไป ความเงียบสงบกลับมาเป็นปกติในหมู่บ้าน และสถานการณ์ที่ไม่สงบนี้ไม่เคยเกิดขึ้นอีกต่อไป
                        
                        แต่แม็คคาร์เตอร์กลับมาเรื่อย ๆ ในหมู่บ้านอันสงบนี้เพื่อป้องกันป่าและชุมชนของเขาจากสิ่งผิดปกติที่อาจจะปรากฏขึ้นอีกครั้งใด ๆ และเขากลายเป็นตำนานในหมู่บ้าน แม็ค คาร์เตอร์ - นักล่าผีกระสือและผู้กล้าหาญที่ทำให้ความสงบสุขกลับมาถึงหมู่บ้านของเขาอีกครั้งในท้ายที่สุด.
                        
                        
                        
                        
                        
                        </li>
                </ul>
                <button id="likeButton">Like<div id="likeCount">0</div></button>
            </div>
        </div>
        </div>
    </main>
    <script>
        // กำหนดตัวแปรเพื่อเก็บค่า Like และแสดงผล
        let likeCount = 0;
        const likeButton = document.getElementById('likeButton');
        const likeCountElement = document.getElementById('likeCount');
        
        // เพิ่ม Event Listener เมื่อคลิกที่ปุ่ม Like
        likeButton.addEventListener('click', function() {
            likeCount++;
            likeCountElement.innerText = likeCount;
        });
        </script>
<style>
        #likeButton {
            background-color: #007bff; /* เปลี่ยนสีพื้นหลังตามต้องการ */
            color: #ffffff; /* เปลี่ยนสีตัวอักษรตามต้องการ */
            padding: 20px 40px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        #likeButton:hover {
            background-color: #0056b3; /* เปลี่ยนสีพื้นหลังเมื่อ hover ตามต้องการ */
        }
        </style>


    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>